<mat-card>
    <mat-card-title>
      <img src="../../assets/profile.jpg" width="350px" height="350px">
      <img src="../../assets/profile.jpg" width="350px" height="350px">

      <h1>MAE ANN BRAZIL HAMTIG</h1>
      
      <div class="hobbies">
        <h4><em>"EVERYTHING HAPPENS FOR A REASON"</em></h4>

</div>

      <p>Hi! My name is<b> Mae Ann Brazil Hamtig</b>, 20 years of age. I live in Brgy. Candigahub Carigara, Leyte. I am a 3rd year college student 
        taking the course of <em>Bachelor of Science in Information Technology</em> at Eastern Visayas State University.We're in a small family living at the same small house.
        Playing online games and making tiktok videos are my favorite when I'm bored at home. My favorite colors are pink, black and gray.
        Chicken Adobo is my favorite dish. I love listening music especially when I'm not okey.</p>
          <a href="gallery"><h6>Click here if you want to view some of my photo.</h6></a>
    </mat-card-title>
</mat-card>