<mat-card>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>MAE ANN HAMTIG</mat-card-title>
                    <mat-card-subtitle>Image 1</mat-card-subtitle>
                  </mat-card-header>
        <mat-card class="mat-elevation-z4">
            <img mat-card-image src="../../assets/1.jpg">
        </mat-card>
    </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>MAE ANN HAMTIG</mat-card-title>
                <mat-card-subtitle>Image 2</mat-card-subtitle>
              </mat-card-header>
    <mat-card class="mat-elevation-z4">
        <img mat-card-image src="../../assets/2.jpg">
    </mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 3</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/3.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 4</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/4.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 5</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/5.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 6</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/6.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 7</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/7.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 8</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/8.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 9</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/9.jpg">
</mat-card>
</div>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>MAE ANN HAMTIG</mat-card-title>
            <mat-card-subtitle>Image 10</mat-card-subtitle>
          </mat-card-header>
<mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/10.jpg">
</mat-card>
</div>
</div>

    </div>
</mat-card>
